doctype html
html
  head
    title= title
    block scripts
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      script(src="javascripts/jQuery.countdownTimer.js")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/jQuery.countdownTimer.css")
  body
    block content
